<!-- views/partials/navbar.ejs -->

<div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="brand" href="home">
				<span>
					<img src="/public/img/cog.png">
				</span>
				<span> Web Smart Camera</span>
			</a>
			<a class="btn btn-navbar" data-toggle="collapse" 
				data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>

			
			<!-- start: Header Menu -->
			<div class="nav-no-collapse header-nav">
				<ul class="nav pull-right">
					<% if (tipoUsuario == "professor" || tipoUsuario == "aluno") { %>	
					
						<li class="dropdown hidden-phone">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="icon-bell"></i>
								<span class="badge red"><%= notificacoesSessao.length %>  </span>
							</a>
							<ul class="dropdown-menu messages">
								<li class="dropdown-menu-title">
									<span>Você possui <%= notificacoesSessao.length %> notificações.</span>
								</li>
								<% for (var i in notificacoesSessao)  { %>   
									<li>
										<a href="#">
											<span class="header">
												<span class="from">  
													<%= notificacoesSessao[i].codigoDisciplina %> - Turma 
													<%= notificacoesSessao[i].id %>
												</span>
											</span>
											<span class="message">
												Novo arquivo <%= notificacoesSessao[i].titulo %>
												adicionado.												
											</span>
										</a>
									</li>
								<% } %>             
							</ul>
						</li>
					<% } %>
						<!-- start: User Dropdown -->
						<li class="dropdown">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="halflings-icon white user"></i> <%= user.matricula %>
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li class="dropdown-menu-title">
									<span>Configurações</span>
								</li>
								<li><a href="profile"><i class="halflings-icon user"></i> Perfil</a></li>
								<li><a href="logout"><i class="halflings-icon off"></i> Logout</a></li>
							</ul>
						</li>
						<!-- end: User Dropdown -->
				</ul>
			</div>
			<!-- end: Header Menu -->
		</div>
	</div>
</div>