<!-- views/pages/lista_disciplinas.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= title %></title>
	<% include ../partials/head %>			
</head>
<body>
	<% include ../partials/navbar %>				
	<div class="container-fluid-full">
		<div class="row-fluid">
			<% include ../partials/sidebar_left %>
			<div id="content" class="span10">
				<ul class="breadcrumb">
					<li>
						<i class="icon-home"></i>
						<a href="home">Home</a>
						<i class="icon-angle-right"></i>
					</li>
					<li><a href="lista_disciplinas">Lista Disciplinas</a></li>
				</ul>

				<!-- Formulário de Cadastro de Disciplina -->
				<div class="row-fluid sortable">
					<div class="box span12">
						<div class="box-header" data-original-title>
							<h2><i class="halflings-icon white edit"></i>
							<span class="break"></span>Cadastrar Disciplina</h2>
						</div>
						<div class="box-content">	
							<form action="/lista_disciplinas" method="post" class="form-horizontal">     
								<fieldset>
									<div class="control-group">
										<label class="control-label">Codigo da disciplina </label>
										<div class="controls">
											<input type="text" class="form-control" name="codDisciplina" 
												class="form-control" required>
												(Apenas 6 characteres. Exemplo: INF332)
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">Nome da disciplina</label>
										<div class="controls">
											<input type="text" class="form-control" name="nomeDisciplina" required>
										</div>
									</div>
									<div class="form-actions">			
										<button type="submit" class="btn btn-warning btn-lg">Cadastrar</button>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>

				<!-- show any messages that come back with authentication -->
				<% if (message == 1) { %>
					<div class="alert alert-error">
						<i class="icon-remove"></i>
						Erro ao tentar adicionar disciplina.
					</div>
				<% } else if (message == 2) { %>
					<div class="alert alert-success">
						<i class="icon-ok"></i>
						Disciplina adicionada com sucesso.
					</div>
				<% } else if (message == 3) { %>
					<div class="alert alert-error">
						<i class="icon-remove"></i>
						Erro ao tentar remover disciplina.
					</div>
				<% } else if (message == 4) { %>					
					<div class="alert alert-success">
						<i class="icon-ok"></i>
						Disciplina removida com sucesso.
					</div>
				<% } %>

				<!-- Listar disciplinas no sistema -->
				<div class="row-fluid sortable">		
					<div class="box span12">
						<div class="box-header" data-original-title>
							<h2><i class="halflings-icon white user"></i><span class="break">
								</span>Disciplinas Cadastradas</h2>
						</div>
						<div class="box-content">
							<table class="table table-striped table-bordered 
								bootstrap-datatable datatable">
								<thead>
									<tr>
										<th>Código</th>
										<th>Nome</th>
										<th>Ações</th>
									</tr>
								</thead>   
								<tbody>
									<% for (var i in lista) { %>
									<tr id="rowDis<%= lista[i].codigo %>">
										<td id="rowCode"><%= lista[i].codigo %></td>
										<td id="rowName"><%= lista[i].nomeDisciplina %></td>
										<td class="center" id="rowConfig">
											<a id="edit_button" class="btn btn-info" title="Editar" 
												data-rel="tooltip" href="#">
													<i class="halflings-icon white edit"></i>  
											</a>
											<a data-id="<%= lista[i].codigo %>" data-target="#myModal"
												class="btn btn-danger btn-setting remove_modal" 
												title="Remover" data-rel="tooltip" href="#">
													<i class="halflings-icon white trash"></i> 
											</a>
										</td>
									</tr>	
									<!-- Formulario fantasma para passar o id da disciplina que
										quer deletar -->
									<div id="hidden_form_container" style="display:none;"></div>	
									<% } %>			
								</tbody>
							</table>            
						</div>
					</div>				
				</div>
			</div>				
		</div>
	</div>

	<!--JANELA POP-UP (Modal Box) PARA OPÇÃO DE REMOÇÃO DE DISCIPLINA-->
	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<h3>Notificação</h3>
		</div>
		<div class="modal-body">
			<p><b>Tem certeza que quer deletar a disciplina? </b></p>
			<p id="disID">Teste</p>
		</div>
		<div class="modal-footer">
			<button type="button" href="#" class="btn" data-dismiss="modal">Fechar</button>
			<button id="savebutton" href="#" type="submit" class="btn btn-danger" 
				data-dismiss="modal">Sim</button>
		</div>
	</div>

	<% include ../partials/footer %>
	<% include ../partials/scripts %>
	<% include ../partials/script_delete_row %>	
</body>
</html>