<!-- views/pages/matricular.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= title %></title>
	<% include ../partials/head %>			
</head>
<body>
	<% include ../partials/navbar %>				
	<div class="container-fluid-full">
		<div class="row-fluid">
			<% include ../partials/sidebar_left %>
			<div id="content" class="span10">
				<ul class="breadcrumb">
					<li>
						<i class="icon-home"></i>
						<a href="home">Home</a>
						<i class="icon-angle-right"></i>
					</li>
					<li><a href="matricular">Matricular</a></li>
				</ul>

				<!-- Cadastro de Turma -->
				<div class="row-fluid sortable">
					<div class="box span12">
						<div class="box-header" data-original-title>
							<h2><i class="halflings-icon white edit"></i>
							<span class="break"></span>Matricular Alunos</h2>
						</div>
						<div class="box-content">			
							<form action="/matricular" method="post" class="form-horizontal">       
								<fieldset>         
									<div class="control-group">
										<label for="codDisciplina" class="control-label">
											Código Disciplina - Turma: 
										</label>
										<div class="controls">
            					<select class="form-control" name="codDisciplina">
												<option disabled selected value> 
													-- Selecione uma opção -- 
												</option>
              					<% for (var i in listaDeTurmas) { %>
													<option value="<%= listaDeTurmas[i].codigoDisciplina + " - " + listaDeTurmas[i].id %>">
                  				<%= listaDeTurmas[i].codigoDisciplina %> - 
                  				<%= listaDeTurmas[i].id %>
                					</option>
              					<% } %>		
											</select>
										</div>
									</div>
									<div class="control-group">
										<label for="codDisciplina" class="control-label">
											Lista de Alunos: 
										</label>
										<div class="controls">
            					<select class="form-control" name="matriculaAluno">
												<option disabled selected value> 
													-- Selecione uma opção -- 
												</option>
              					<% for (var i in listaDeAlunos) { %>
                					<option value="<%= listaDeAlunos[i].matricula %>">
                  				<%= listaDeAlunos[i].matricula %> -
                  				<%= listaDeAlunos[i].nome %>
               						</option>
              					<% } %>		
											</select>
										</div>
									</div>
									<div class="form-actions">
										<button type="submit" class="btn btn-warning btn-lg">
											Matricular
										</button>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>

				<!-- show any messages that come back with authentication -->
				<% if (message == 1) { %>
					<div class="alert alert-error">
						<i class="icon-remove"></i> &nbsp Erro na matrícula.
					</div>
				<% } else if (message == 2) { %>
					<div class="alert alert-success">
						<i class="icon-ok"></i> &nbsp Matrícula realizada com sucesso.
					</div>
				<% } %>

				<!-- Listar turmas no sistema -->
				<div class="row-fluid sortable">		
					<div class="box span12">
						<div class="box-header" data-original-title>
							<h2><i class="halflings-icon white user"></i><span class="break">
								</span>Matrículas</h2>
						</div>
						<div class="box-content">
							<table class="table table-striped table-bordered 
								bootstrap-datatable datatable">
								<thead>
									<tr>
										<th>ID Turma</th>
										<th>Código da disciplina</th>
										<th>Matrícula do aluno</th>
									</tr>
								</thead>   
								<tbody>
									<% for (var i in listaDeMatriculados) { %>
										<tr>
											<td><%= listaDeMatriculados[i].id %></td>
                 	   <td><%= listaDeMatriculados[i].codigoDisciplina %></td>
                 	   <td><%= listaDeMatriculados[i].matriculaAluno %></td>
											<td class="center">           
                   	  	<a class="btn btn-danger" title="Remover" 
                    	    data-rel="tooltip" href="#">
													<i class="halflings-icon white trash"></i> 
												</a>
											</td>
										</tr>		
									<% } %>			
								</tbody>
							</table>            
						</div>
					</div>				
				</div>
			</div>				
		</div>
	</div>
	<% include ../partials/footer %>
	<% include ../partials/scripts %>
</body>
</html>